<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Administrator Page</title>
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="icon" type="image/x-icon" href="images/Logos_and_Banners/Skim_Milk_Logo_3.png">
    <script src="scripts.scripts.js" defer></script>
</head>

<body>
    <div class="admin-container">
        <!-- Navigation bar for Admin, must log in to access -->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/cart">Shopping Cart</a>
            <a class="active" href="/admin">Admin</a>
            <a  href="/bulk-upload">Bulk Upload</a>
            <div class="search">
                <form action="#" role="search">
                    <input type="text" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <header>
            <div>
                <img src="images/Logos_and_Banners/Skim_Milk_Studio_Website_Banner_2.png" alt="header image"
                    width="100%" height="100%">
            </div>
        </header>
        <!-- Fields for admin to edit or add products -->
        <main>
            <div class="flex-container">
                <h2>Administrator Page</h2>
                <p><strong>Add</strong> a product</p>
                <!-- Form to add a new product -->
                <form class="add-product">
                    <label for="id">Product ID:</label>
                    <input type="number" id="id" name="id" required>
                    <br>
                    <br>
                    <!-- Input fields for new product details -->
                    <label for="productName">Product Name:</label>
                    <input type="text" id="productName" name="productName" required>
                    <br>
                    <br>
                    <label for="productDescription">Product Description:</label>
                    <input type="text" id="productDescription" name="productDescription" required>
                    <br>
                    <br>
                    <label for="imageURL">Image URL:</label>
                    <input type="text" id="imageURL" name="imageURL" required>
                    <br>
                    <br>
                    <label for="price">Price:</label>
                    <input type="text" id="price" name="price" required>
                    <br>
                    <br>
                    <label for="featuredProduct">Featured Product (Yes/No):</label>
                    <input type="text" id="featuredProduct" name="featuredProduct" required>
                    <br>
                    <br>
                    <label for="categoryID">Category ID:</label>
                    <input type="number" id="categoryID" name="categoryID" required>
                    <br>
                    <br>
                    <button type="submit">Add Product</button>
                </form>
            </div>
            <div class="flex-container">
                <p><strong>Update</strong> a product</p>
                <!-- Form to update an existing product -->                                
                <form class="update-product">
                    <label for="productId">Product ID:</label>
                    <input type="number" id="productId" name="productId" required>
                    <br>
                    <br>
                    <!-- Input fields for updating product details -->
                    <label for="updatedProductName">Updated Product Name:</label>
                    <input type="text" id="updatedProductName" name="updatedProductName" required>
                    <br>
                    <br>
                    <label for="updatedProductDescription">Updated Product Description:</label>
                    <input type="text" id="updatedProductDescription" name="updatedProductDescription" required>
                    <br>
                    <br>
                    <label for="updatedImageURL">Updated Image URL:</label>
                    <input type="text" id="updatedImageURL" name="updatedImageURL" required>
                    <br>
                    <br>
                    <label for="updatedPrice">Updated Price:</label>
                    <input type="text" id="updatedPrice" name="updatedPrice" required>
                    <br>
                    <br>
                    <label for="updatedFeaturedProduct">Updated Featured Product (Yes/No):</label>
                    <input type="text" id="updatedFeaturedProduct" name="updatedFeaturedProduct" required>
                    <br>
                    <br>
                    <label for="updatedCategoryID">Updated Category ID:</label>
                    <input type="number" id="updatedCategoryID" name="updatedCategoryID" required>
                    <br>
                    <br>
                    <button type="submit">Update Product</button>
                </form>
                
            </div>
            <div class="flex-container">
                <p><strong>Delete</strong> a product</p>
                <form class="delete-product">
                    <label for="productIdToDelete">Product ID to Delete:</label>
                    <input type="number" id="productIdToDelete" name="productIdToDelete" required>
                    <br>
                    <br>
                    <button type="submit">Delete Product</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>
